body {
  background-color: #f5b3b5;
  font-family: "Montserrat", sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:38px;
}
.card img{
  height: 500px;
  width: 500px;
}

