body {
  background-color: #29406e;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.cantor {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
}
.cantor img{
  max-width: 500px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cantor img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.img-sombr {
  border: 3px solid black;
  border-radius: 10px;
}
.img-laufey {
  border: 3px solid #c78f68;
  border-radius: 10px;
}
.img-bruno {
  border: 3px solid #ad7e13;
  border-radius: 10px;
}
.cantor h2 {
  font-size: 18px;
}

